.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    width: 120%;
  } 

  .embla__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla__button {
    z-index: 1;
    color: var(--background-site);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  .embla__button--prev {
    left: 1.6rem;
  }
  .embla__button--next {
    right: 1.6rem;
  }
  .embla__button:disabled {
    opacity: 0.3;
  }
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }

  .slide-container {
    display: flex;
    flex-direction: row;
  }
  .image-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 50%;
  }
  .text-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
   .text-container ul li{
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

   .text-container ul li span{
    max-width: 400px;
    font-size: 14px;
  }
   .bold {
    font-weight: bold;
  }

  #column {
    flex-direction: column;
    gap: 8px;
  }
  .btn-show {
    display: none;
  }

  @media only screen and (min-width: 1000px) {
    .mobile-hide {
      display: flex !important;
    }
  }

  @media only screen and (max-width: 1000px) {
    .embla {
      padding: 0;
    }
    .btn-show {
      display: block;
    }
    .mobile-hide {
      display: none;
    }
    .slide-container {
      display: flex;
      flex-direction: column;
    }
    .image-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text-container {
      width: 400px;
      margin: 0 auto;
    }
    .text-container ul{
      padding: 16px;
      margin-top: 0;
      padding-top: 0;
      display: flex;
      justify-content: center;
    }

    .text-container ul li span{
      max-width: 100%;
      font-size: 14px;
    }
    button {
      max-width: 100%;
    }
    .embla__button--prev {
      top: 1.6rem;
      left: 0rem;
    }
    .embla__button--next {
      top: 1.6rem;
      right: 0rem;
    }
  }
  @media only screen and (max-width: 432px) {
    .text-container {
      width: 100%;
    }
  }