@use "global.module.scss" as v;

.styles {
  p {
    max-width: 600px;
  }
}

.header_text {
  font-family: "Permanent Marker";
  max-width: 270px;
}

.fetchMethods {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  max-width: 100%;
}

.show_output {
  padding: 10px 25px;
  background-color: white;
  border-radius: 3px;
}

.show_output:hover {
  color: white;
  background-color: v.$black_2;
}

.background_color_textfield {
  padding: 1rem 2rem;
  margin: 16px 0;
  border-radius: 5px;
  background-color: v.$grey_1;
  color: v.$black_2;
}

.output_textfield {
  padding: 1rem;
}

.tips {
  display: flex;
  gap: 1rem;
}
