@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Permanent Marker";
  src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

$black_1: #000000;
$black_2: #171717;
$black_3: #2e2e2e;
$black_4: #454545;
$black_5: #5c5c5c;
$black_6: #737373;
$black_7: #8a8a8a;
$yellow: #ffd100;

.styles {
  color: $yellow;

  p {
    font-family: "Inter";
    font-size: 16px;
    color: $black_3;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
