@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "Permanent Marker";
  src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

$black_1: #000000;
$black_2: #171717;
$black_3: #2e2e2e;
$black_4: #454545;
$black_5: #5c5c5c;
$black_6: #737373;
$black_7: #8a8a8a;
$grey_1: #f2f2f2;
$yellow: #ffd100;

.styles {


  h1 {
    font-family: "Permanent Marker";
    font-size: 36px;
  }
  h2 {
    font-family: "Permanent Marker";
    font-size: 32px;
  }
  h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
  h4 {
    font-family: "Permanent Marker";
    font-size: 20px;
  }
    
  p {
    font-size: 16px;
    color: $black_3;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;  
}

.primaryBtn {
  padding: 10px 25px; 
  background-color: $black_2;
  color: white; 
  border-radius: 3px;
  border: 2px solid $black_2;

  &:hover { color: white; 
    background-color: transparent;
    color: $black_2
  }

}
.secondaryBtn {
  @extend .primaryBtn;
  background-color: transparent; 
  color: $black_2;; 
  &:hover { color: white; 
    background-color: $black_2;
  }
 
}