@use "../styles/global.module.scss" as v;

.heroSection {
  // background-color: rgba(255, 0, 81, 0.448);
  position: relative;
  background-color: v.$yellow;
  width: 100vw;
  min-height: 500px;
  height: 85vh;
  display: flex;
  justify-content: center;

  .heroContainer {
    // background-color: rgba(0, 0, 255, 0.419);
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    width: 1000px;
    margin-bottom: 80px;
    overflow: hidden;
  }

  .heroTextContainer {
    // background-color: rgba(255, 0, 0, 0.448);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
      margin-bottom: 10px;
      line-height: 52px;
    }
    p {
      margin: 0;
      margin-bottom: 48px;
    }
    .buttonContainer {
      display: flex;
      gap: 16px;
    }
  }
  .imgContainer {
    // background-color: rgba(0, 255, 30, 0.448);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    height: 600px;

    .heroImg {
      // background-color: rgba(0, 255, 234, 0.448);
      position: relative;
      height: 100%;
      width: auto;
      z-index: 2;
    }
    .swirl {
      // background-color: rgba(255, 0, 8, 0.448);
      position: absolute;
      width: 120%;
      height: 120%;
    }
  }
  .arrowDown {
    position: absolute;
    bottom: 20px;
  }
  .beans1 {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }
  .beans2 {
    position: absolute;
    right: 200px;
    bottom: 100px;
  }
  .beans3 {
    position: absolute;
    right: 100px;
    top: 100px;
  }
}
// Removes illustration elements
@media only screen and (max-width: 1100px) {
  .heroSection {
    width: auto;
    .heroContainer {
      width: 100%;
      padding: 24px;
    }
    .arrowDown,
    .beans1,
    .beans2,
    .beans3 {
      display: none;
    }
  }
}
// tablet
@media only screen and (max-width: 850px) {
  .heroSection {
    height: auto;
    .heroContainer {
      display: flex;
      gap: 32px;
      width: 400px;
      padding: 0 48px;
      flex-direction: column-reverse;
      .heroTextContainer {
        width: 400px;
        margin: 0 auto;
      }
      .imgContainer {
        width: 400px;
      }
    }
  }
}
// phone
@media only screen and (max-width: 496px) {
  .heroSection {
    width: 100vw;
    .heroContainer {
      width: 100%;
      padding: 0 24px;
      .heroTextContainer {
        width: auto;
      }
      .imgContainer {
        height: auto;
        width: 100%;
        .heroImg {
          width: 100%;
          height: auto;
        }
        .swirl {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
  .aboutTextContainer {
    max-width: 600px;
  }

  .listContainer {
    max-width: 600px;

    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        display: flex;
        justify-content: space-between;
        a {
          text-decoration: none;
          font-family: "Fira Code";
          color: v.$black_2;
          font-weight: 500;
        }
      }
    }
  }
}
