@use "../styles/global.module.scss" as v;

.navbar {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Permanent Marker";

  max-width: 1000px;
  margin: 0 auto;

  .navbar__logo {
    display: flex;
    font-size: 20px;
  }
  .navbar__list {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
  }
  .navbar__item {
    list-style: none;
  }
  .navbar__link {
    color: v.$black_1;
    text-decoration: none;
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
  .logo {
    height: 6rem;
  }
}

.navbar__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$black_1;
  height: 200px;
  margin-top: 50px;
  color: white;
}
@media only screen and (max-width: 700px) {
  .navbarContainer {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .navbar__list {
      padding: 0;
      gap: 16px;
    }

    .logo {
      display: none;
    }
  }
}
@media only screen and (max-width: 473px) {
  .navbarContainer {
    .navbar_display_none {
      display: none;
    }
  }
}
