@use "../styles/global.module.scss" as v;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Permanent Marker";
  margin-right: 20px;
  margin-left: 20px;

  max-width: 1000px;
  margin: 0 auto;

  .navbar__logo {
    display: flex;
    font-size: 20px;
  }
  .navbar__list {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
  }
  .navbar__item {
    list-style: none;
  }
  .navbar__link {
    color: v.$black_1;
    text-decoration: none;
    font-size: 20px;
    a {
      text-decoration: none;
    }
  }
  .logo {
    height: 7rem;
  }
}
